@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  margin: 0;
  height: 100%;
}

:root {
  --lightcyan: #c2f0f0;
  --cyan: #6af2f0;
  --yellow: #ffffcc;
  --brown: #4d2600;
  --graycyan: #d1e0e0;
  --darkgraycyan: #669999;
}

body > .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f4f4ff;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #f4f4ff 4px
    ),
    repeating-linear-gradient(#efefff55, #efefff);
}

.calculator {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  height: 400px;
  width: 300px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 0px 5px var(--cyan);
  background: var(--lightcyan);
  border: 5px var(--brown) solid;
}

.display-container {
  overflow: hidden;
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8px;
  gap: 5px;
  border-radius: 15px;
  background: var(--graycyan);
  border: 5px var(--brown) solid;
  box-shadow: inset 0px 0px 0px 4px var(--darkgraycyan);
}

.main-display {
  flex: 3;
  font-size: 1.1rem;
}

.second-display {
  flex: 1;
  font-size: 0.9rem;
}

.button-container {
  flex: 4;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 10px;
}

.button-container > button {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 10px;
  background: var(--yellow);
  border: 5px var(--brown) solid;
}

.clear-btn {
  grid-column: 1 / 3;
}

.delete-btn {
  grid-column: 3 / 5;
}

button {
  box-shadow: inset 2px 2px var(--darkgraycyan);
}

button:active {
  transform: translate(-1px, -1px);
  box-shadow: none;
}